services:
  database:
    image: postgres:18-alpine
    container_name: database
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - backend-rsi

volumes:
  postgres_data:

networks:
  backend-rsi:
    driver: bridge
